# Ignore docs files
_gh_pages
_site
.ruby-version

# Numerous always-ignore extensions
*.diff
*.bak
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.lnk
*.lock
*~
*.sass-cache

# OS or Editor folders
._*
.cache
.AppleDouble
.DS_Store
.LSOverride
.idea
.project
.classpath
.settings
.metadata
.tmproj
.Spotlight-V100
.Trashes
.vscode
jsconfig.json
*.esproj
*.komodoproject
.komodotools
.vscode
*.sublime-project
*.sublime-workspace
*.iml
*.ipr
*.iws
.idea/
out/
nbproject
Icon
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Folders to ignore
bower_components/
node_modules/
test-files/
coverage/
cov-int/
lib-cov/

!.gitmodules
!.travis.yml

# Runtime data
pids
*.pid
*.seed
.lock-wscript

~*
